# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = recipes_spider.settings

[deploy]
url = https://localhost:6843/
project = recipes_spider
username = admin
password = admin
